body {
    font-family: 'Ubuntu Mono', monospace !important;
    background-color: black;
    font-size: 16px !important;
}

.input {
    color: white;
    display: inline;
    outline: none;
    padding: 0;
    margin: 0;
}

.line {
    color: white;
    display: block;
    padding: 0;
    margin: 0;
}

.text {
    color: white;
}

#inputLine {
    color: rgb(0, 255, 0);
    display: inline-block;
}

#inputLine pre {
    font-family: 'Ubuntu Mono', monospace;
    /* font-size: 242px; */
}


/* Color Classes */
.blue {
    color: #0000FF; 
}

.white {
    color: white;
}

.green {
    color: #00FF00;
}